/login-v.1.1/nbproject/private/
/login-v.1.1/build/
/login-v.1.1/dist/
/login-v.1.1 - Copy/build/
/login-v.1.1 - Copy/dist/
/login-v.1.1 - Copy/nbproject/private/
/login-v.1.2/build/
/login-v.1.2/dist/
/login-v.1.2/nbproject/private/
/jsp-json/nbproject/private/
/jsp-json/build/
/jsp-json/dist/
/jsp-jason-2/nbproject/private/
/jsp-jason-2/dist/
/jsp-jason-2/build/
/jsp-xml/nbproject/private/
/jsp-xml/build/
/jsp-xslt-1.0/nbproject/private/
/jsp-xslt-1.0/build/
/jsp-xslt-1.0/dist/
/jsp-beans/nbproject/private/
/jsp-beans/build/
/PetCatalog/nbproject/private/
/PetCatalog/build/
/CachedQuery/nbproject/private/
/Test/nbproject/private/
/test/build/
/test/nbproject/private/
/test/dist/
/reservation/nbproject/private/
/reservation/dist/
/reservation/build/
/servlet-exercise/nbproject/private/
/servlet-exercise/build/
/servlet-exercise/dist/
/FirstServlet/nbproject/private/
/jsf-core-jsf/core-jsf/nbproject/private/
/jsf-exercise/nbproject/private/
/jsf-exercise/build/
/jsf-numberquiz/nbproject/private/
/jsf-numberquiz/build/
/jsf-numberquiz-cdi/nbproject/private/
/jsf-numberquiz0cdi/nbproject/private/
/jsf-numberquiz0cdi/build/
/jsf-numberquiz-cdi/build/
/jsf-numberquiz-cdi/dist/
/TestTomEE/nbproject/private/
/TestTomEE/build/
/TestTomEE/dist/
/TestTomEE2/nbproject/private/
/TestTomEE2/build/
/TestTomEE2/dist/
/jsf-java-quiz/nbproject/private/
/jsf-java-quiz/build/
/jsf-java-quiz/dist/
/jsf-java-quiz-app/nbproject/private/
/jsf-java-quiz-app/build/
/jsf-java-quiz-app/dist/