<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormGetServlet</servlet-name>
        <servlet-class>com.servlet.FormGetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormPostServlet</servlet-name>
        <servlet-class>com.servlet.FormPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBoxServlet</servlet-name>
        <servlet-class>com.servlet.CheckBoxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>com.servlet.RefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusCodeServlet</servlet-name>
        <servlet-class>com.servlet.StatusCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormGetServlet</servlet-name>
        <url-pattern>/FormGetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormPostServlet</servlet-name>
        <url-pattern>/FormPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBoxServlet</servlet-name>
        <url-pattern>/CheckBoxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/RefreshServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusCodeServlet</servlet-name>
        <url-pattern>/StatusCodeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
